{{ define "main" }}
<div class="content pdng-30px pdng-t-140px mil-pdng-10px mil-pdng-t-100px">
    <div class="size-80 max-size-800px pdng-30px pdng-b-60px pdng-t-20px txt-lh-1_1em mil-size-100 mil-pdng-20px mil-pdng-b-50px">
        <h1 class="txt-size-18px txt-medium">
            Статистика &mdash; раздел с ключевыми показателями состояния медицины и её тенденций к улучшению, или ухудшению.
        </h1>
    </div>
    <div class="stats-list-wrp">

        <h2 class="txt-size-34px pdng-20px pdng-t-100px pdng-b-30px">
            Staff
        </h2>
        <div class="stats-wrp flex-row mil-flex-column overflow-hide">
            <div class="section size-60 pdng-50px pdng-t-60px pdng-b-30px pdng-r-30px mil-size-100 mil-pdng-20px mil-pdng-t-30px mil-pdng-b-30px mil-order-2">
                <div class="stats-mark">
                    Нейтральный прогноз
                </div>
                <h2>
                    Number of graduates per year - вузы и колледжи (я бы взяла набор и выпуск)
                </h2>
                <p class="txt-size-13px mrgn-t-10px">
                    Тут необходим краткий текст описывающий график/инфографику (маленькую) или краткий вывод/прогноз.
                </p>
            </div>
            <div class="flex-row flex-algn-itms-c section size-40 pdng-30px border-l-1px border-color1 mil-flex-column mil-size-100 mil-pdng-20px mil-pdng-t-30px mil-pdng-b-30px mil-border-0 mil-border-b-1px mil-order-1 mil-border-color1" style="background:#fcfcfc;">
                <div class="section size-100">
                    <img class="size-100" src="imgs/tmp-stats-img.svg" alt="">
                </div>
            </div>
        </div>



        <h2 class="txt-size-34px pdng-20px pdng-t-100px pdng-b-30px">
            Budget
        </h2>
        <div class="stats-wrp flex-row mil-flex-column overflow-hide">
            <div class="section size-60 pdng-50px pdng-t-60px pdng-b-30px pdng-r-30px mil-size-100 mil-pdng-20px mil-pdng-t-30px mil-pdng-b-30px mil-order-2">
                <div class="stats-mark">
                    Нейтральный прогноз
                </div>
                <h2>
                    Amount of money allocated for a health care per year
                </h2>
                <p class="txt-size-13px mrgn-t-10px">
                    Тут необходим краткий текст описывающий график/инфографику (маленькую) или краткий вывод/прогноз.
                </p>
            </div>
            <div class="flex-row flex-algn-itms-c section size-40 pdng-30px border-l-1px border-color1 mil-flex-column mil-size-100 mil-pdng-20px mil-pdng-t-30px mil-pdng-b-30px mil-border-0 mil-border-b-1px mil-order-1 mil-border-color1" style="background:#fcfcfc;">
                <div class="section size-100">
                    <img class="size-100" src="imgs/tmp-stats-img.svg" alt="">
                </div>
            </div>
        </div>



    </div>
</div>
{{ end }}
