<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        {{ .Site.Title }}
        {{ if .Page.Title}}
        — {{.Page.Title}}
        {{end}}
    </title>

    {{ $style := resources.Get "css/_zubr-framework.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $style := resources.Get "css/main.css" | minify | fingerprint  }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <link rel="icon" type="image/png" href="/imgs/site-icons/128x128.png">
</head>
<body>
<header class="header-wrp">
    <div class="header inline-flex flex-algn-itms-c">
        <a href="/" class="section logo-btn">
            <img src="/imgs/ui/logo.svg" alt="Сivic Health Monitoring">
        </a>
        <div class="section mobnav notdisplay mil-show">
            <input id="brgrbtn" class="notdisplay mil-show" type="checkbox">
            <label for="brgrbtn" class="notdisplay burger-button mil-show">
                <div class="burger-button-line"></div>
                <div class="burger-button-line"></div>
                <div class="burger-button-line"></div>
            </label>
            <div class="brgr-nav notdisplay mil-show">
                <div class="brgr-nav-links">
                    <a class="header-lnk" href="/post/">Отчеты</a>
                </div>
                <div class="brgr-nav-links">
                    <a class="header-lnk" href="/article/">Публикации</a>
                </div>
                <div class="brgr-nav-links">
                    <a class="header-lnk" href="/region/">Мед. учреждения</a>
                </div>
                <div class="brgr-nav-links">
                    <a class="header-lnk txt-size-20px" href="/about/">О проекте</a>
                </div>
                <div class="mrgn-t-80px">
                    <div class="txt-size-16px txt-medium">
                        Сообщить о проблеме в здравоохранении:
                    </div>
                    <a class="report-button mil-flex-row mrgn-t-15px txt-size-13px" href="https://t.me/Monitoring_Bymedsol" target="_blank">
                        <div class="section report-button-txt size-80">
                            Сообщить о проблеме
                            <br>
                            через Telegram
                        </div>
                        <div class="section size-20">
                            <img src="/imgs/ui/naw-arrow.svg" style="filter:grayscale(1) brightness(10)">
                        </div>
                    </a>
                    <a class="report-button mil-flex-row mrgn-t-10px txt-size-13px" href='{{.Param "form_url_clean"}}' target="_blank">
                        <div class="section report-button-txt size-80">
                                Сообщить о проблеме,
                                <br> заполнив форму
                        </div>
                        <div class="section size-20">
                            <img src="/imgs/ui/naw-arrow.svg" style="filter:grayscale(1) brightness(10)">
                        </div>
                    </a>
                </div>
                <div style="position:absolute; bottom:20px; left:20px;" class="txt-size-12px">©2023 Гражданский Мониторинг Системы Здравоохранения</div>
            </div>
        </div>
        <div class="section mil-notdisplay">
            <a class="header-lnk" href="/post/">Отчеты</a>
            <a class="header-lnk" href="/article/">Публикации</a>
            <a class="header-lnk" href="/region/">Мед. учреждения</a>
            <a class="header-lnk" href="/about/">О проекте</a>
        </div>
    </div>
    <div class="report-button dropdown txt-size-13px mrgn-l-30px mil-notdisplay">
        <div>
            Сообщить о проблеме
            <br>
            в здравоохранении
        </div>

        <div class="droplist size-100">
            <a href="https://t.me/Monitoring_Bymedsol" class="droplist-unit block txt-color-2" target="_blank">
                Сообщить в Telegram
            </a>
            <a href='{{.Param "form_url_clean"}}' class="droplist-unit block txt-color-2" target="_blank">
                Сообщить, заполнив форму
            </a>
        </div>
    </div>
</header>
{{ block "main". }}{{ end }}
<footer class="footer inline-flex">
    <div class="section mil-flex-row mil-flex-algn-itms-c">
        <span class="">©2023 <br class="notdisplay mil-show"> Гражданский Мониторинг <br class="notdisplay mil-show"> Системы Здравоохранения</span>
        <a class="header-lnk mrgn-l-30px" href="/about/">О проекте</a>
    </div>
</footer>
</body>
{{ block "assets". }}
{{ end }}
</html>
