<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    {{$title := cond (gt (.Title | len) 0) .Title .Site.Title}}
    {{$fullTitle := printf "%s - %s" $title .Site.Title}}
    <meta name="title" content="{{$title}}">
    <meta name="description" content="{{.Site.Title}}">
    <title>{{$fullTitle}}</title>
    <link rel="stylesheet" href="/css/_zubr-framework.css">
    <link rel="stylesheet" href="/css/main.css?var=3">
    <link rel="icon" type="image/png" href="/imgs/site-icons/128x128.png">
</head>
<body>
<header class="header-wrp">
    <div class="header inline-flex flex-algn-itms-c">
        <a href="/" class="section logo-btn">
            <img src="/imgs/ui/logo.svg" alt="Сivic Health Monitoring">
        </a>
        <div class="section mobnav notdisplay mil-show">
            <input id="brgrbtn" class="notdisplay mil-show" type="checkbox">
            <label for="brgrbtn" class="notdisplay burger-button mil-show">
                <div class="burger-button-line"></div>
                <div class="burger-button-line"></div>
                <div class="burger-button-line"></div>
            </label>
            <div class="brgr-nav notdisplay mil-show">
                <div class="brgr-nav-links">
                    <a class="header-lnk" href="/post/">Отчеты</a>
                </div>
                <div class="brgr-nav-links">
                    <a class="header-lnk" href="/region/">Мед. учреждения</a>
                </div>
                <div class="brgr-nav-links">
                    <a class="header-lnk txt-size-20px" href="/about/">О проекте</a>
                </div>
                <div class="brgr-nav-links">
                    <a class="header-lnk txt-size-20px" href="https://t.me/Monitoring_Bymedsol">
                        Сообщить о проблеме в здравоохранении
                    </a>
                    <span class="mrgn-l-5px">
                        <img src="/imgs/ui/naw-arrow.svg">
                    </span>
                </div>

                <div style="position:absolute; bottom:20px; left:20px;" class="txt-size-12px">©2023 Гражданский Мониторинг Системы Здравоохранения</div>
            </div>
        </div>
        <div class="section mil-notdisplay">
            <a class="header-lnk" href="/post/">Отчеты</a>
            <a class="header-lnk" href="/region/">Мед. учреждения</a>
            <a class="header-lnk" href="/about/">О проекте</a>
            <a class="header-lnk"
               target="_blank"
               rel="noopener"
               href="https://t.me/Monitoring_Bymedsol">
                Сообщить о проблеме в здравоохранении
            </a>
            <span class="mrgn-l-5px">
                    <img src="/imgs/ui/naw-arrow.svg">
            </span>
        </div>
    </div>
</header>
{{ block "main". }}{{ end }}
<footer class="footer inline-flex">
    <div class="section">
        <span class="">©2023 Гражданский Мониторинг Системы Здравоохранения</span>
        <a class="header-lnk mrgn-l-30px" href="/about/">О проекте</a>
    </div>
</footer>
</body>
{{ block "assets". }}
{{ end }}
</html>
