{{define "main"}}
<div class="content pdng-30px pdng-t-140px mil-pdng-10px mil-pdng-t-100px">
    <div class="placeview-wrp">
        <div class="placeview-info flex-row mil-flex-column">
            <div class="section pdng-t-80px pdng-r-30px pdng-b-50px pdng-l-50px size-50 mil-size-100 mil-pdng-30px mil-pdng-t-100px">
                <div class="post-nav-wrp">
                    <div class="post-nav">
                        <a class="header-lnk" href="/region/">Мед. учреждения</a>
                        <span class="mrgn-l-10px mrgn-r-10px">
                                <img src="/imgs/ui/naw-arrow.svg">
                        </span>
                        {{$regionId := slicestr (.Param "district_id") 0 1}}
                        <a class="header-lnk" href='/region/{{$regionId}}'>
                            {{index $.Site.Data.regions $regionId }}
                        </a>
                        <span class="mrgn-l-10px mrgn-r-10px">
                            <img src="/imgs/ui/naw-arrow.svg">
                        </span>
                        <a class="header-lnk" href='/district/{{.Param "district_id"}}'>
                            {{.Param "district_name"}}
                        </a>
                    </div>
                </div>
                <h1 class="">
                    {{ .Param "facility_name" }}
                </h1>
                <div class="mrgn-t-30px txt-size-15px">
                    <div class="infoblock">
                        <div class="infoblock-name">Адрес:</div>
                        <div class="infoblock-value">
                            {{ .Param "facility_address" }}
                        </div>
                    </div>
                    <div class="infoblock">
                        <div class="infoblock-name">
                            Сайт:
                        </div>
                        <div class="infoblock-value">
                            <a class="txt-underline-inline" href='{{ .Param "facility_url" }}'>
                                {{ .Param "facility_url" }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section size-50 pdng-t-20px pdng-r-20px pdng-b-20px flex-algn-itms-c mil-size-100 mil-pdng-0 ">
                <div class="placeview-map-wrp">
                    <a href="https://yandex.by/maps/157/minsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">
                        Минск
                    </a>
                    <a href="https://yandex.by/maps/157/minsk/?ll=27.555691%2C53.902735&utm_medium=mapframe&utm_source=maps&z=12" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a>
                    <iframe src="https://yandex.by/map-widget/v1/?ll=27.555691%2C53.902735&z=12" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>
            </div>
        </div>

        <div class="placeview-info mrgn-t-30px pdng-50px mil-pdng-30px">
            <h3>
                Наличие медицинского оборудования и услуг
            </h3>
            <div class="flex-row flex-wrap pdng-t-30px">
                <div class="inline-flex flex-algn-itms-c size-20 pdng-10px mil-size-50">
                    <div class="section pdng-r-10px">
                        <img class="block" width="32px" src="/imgs/mrt.png" alt="">
                    </div>
                    <div class="section txt-size-12px">
                        <div>
                            Наличие аппаратов МРТ
                        </div>
                        <div class="txt-bold">
                            Нет
                        </div>
                    </div>
                </div>
                <div class="inline-flex flex-algn-itms-c size-20 pdng-10px mil-size-50">
                    <div class="section pdng-r-10px">
                        <img class="block" width="32px" src="/imgs/x-ray.png" alt="">
                    </div>
                    <div class="section txt-size-12px">
                        <div>
                            Наличие рентгена
                        </div>
                        <div class="txt-bold">
                            Нет
                        </div>
                    </div>
                </div>
                <div class="inline-flex flex-algn-itms-c size-20 pdng-10px mil-size-50">
                    <div class="section pdng-r-10px">
                        <img class="block" width="32px" src="/imgs/ekg.png" alt="">
                    </div>
                    <div class="section txt-size-12px">
                        <div>
                            Наличие аппаратов ЭКГ
                        </div>
                        <div class="txt-bold">
                            Нет
                        </div>
                    </div>
                </div>
                <div class="inline-flex flex-algn-itms-c size-20 pdng-10px mil-size-50">
                    <div class="section pdng-r-10px">
                        <img class="block" width="32px" src="/imgs/stuff.png" alt="">
                    </div>
                    <div class="section txt-size-12px">
                        <div>
                            Наличие расходных материалов
                        </div>
                        <div class="txt-bold">
                            Нет
                        </div>
                    </div>
                </div>
                <div class="inline-flex flex-algn-itms-c size-20 pdng-10px mil-size-50">
                    <div class="section pdng-r-10px">
                        <img class="block" width="32px" src="/imgs/hospital-bed.png" alt="">
                    </div>
                    <div class="section txt-size-12px">
                        <div>
                            Наличие палат
                        </div>
                        <div class="txt-bold">
                            Нет
                        </div>
                    </div>
                </div>
                <div class="inline-flex flex-algn-itms-c size-20 pdng-10px mil-size-50">
                    <div class="section pdng-r-10px">
                        <img class="block" width="32px" src="/imgs/virus.png" alt="">
                    </div>
                    <div class="section txt-size-12px">
                        <div>
                            Наличие противовирусных препаратов
                        </div>
                        <div class="txt-bold">
                            Нет
                        </div>
                    </div>
                </div>
                <div class="inline-flex flex-algn-itms-c size-20 pdng-10px mil-size-50">
                    <div class="section pdng-r-10px">
                        <img class="block" width="32px" src="/imgs/pills.png" alt="">
                    </div>
                    <div class="section txt-size-12px">
                        <div>
                            Наличие препаратов
                        </div>
                        <div class="txt-bold">
                            Нет
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
