{{define "main"}}
<div class="content pdng-30px pdng-t-140px mil-pdng-10px mil-pdng-t-100px">
    <div class="post-wrp pdng-50px pdng-t-100px mil-pdng-20px mil-pdng-t-80px mil-flex-column">
        <div class="post-nav-wrp">
            <div class="post-nav">
                <a class="header-lnk" href="#">Investigations</a>
                <span class="mrgn-l-10px mrgn-r-10px">
                    <img src="/imgs/ui/naw-arrow.svg">
                </span>
                <a class="header-lnk" href="#">Investigations Category</a>
            </div>
        </div>
        <div class="post-additions">
            <div class="section pdng-t-40px pdng-r-30px pdng-l-30px pdng-b-30px">
                <h2 class="txt-size-26px mil-txt-size-24px">
                    Files related to the topic of the publication:
                </h2>
            </div>
            <div class="section pdng-t-30px pdng-r-20px pdng-l-20px pdng-b-30px">
                <a class="file-unit flex-row flex-algn-itms-c">
                    <div class="section">
                        <img class="block" style="width:32px;" src="/imgs/file.png" alt="">
                    </div>
                    <div class="section pdng-l-10px">
                        <h3>
                            Data_Triangulation.docx
                        </h3>
                        <div class="txt-color-2">
                            3.2 MB
                        </div>
                    </div>
                </a>
                <a class="file-unit flex-row flex-algn-itms-c">
                    <div class="section">
                        <img class="block" style="width:32px;" src="/imgs/file.png" alt="">
                    </div>
                    <div class="section pdng-l-10px">
                        <h3>
                            Data_Triangulation.docx
                        </h3>
                        <div class="txt-color-2">
                            3.2 MB
                        </div>
                    </div>
                </a>
                <a class="file-unit flex-row flex-algn-itms-c">
                    <div class="section">
                        <img class="block" style="width:32px;" src="/imgs/file.png" alt="">
                    </div>
                    <div class="section pdng-l-10px">
                        <h3>
                            Data_Triangulation.docx
                        </h3>
                        <div class="txt-color-2">
                            3.2 MB
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="post-content">
            <h1 class="txt-size-32px mil-txt-size-26px">
                Alternative report on healthcare system of Belarus
            </h1>
            <h2 class="mrgn-t-50px">
                PREFACE
            </h2>
            <p class="mrgn-t-20px">
                This Report was developed by the Belarusian Medical Solidarity Foundation, a non-governmental foundation aimed to help repressed Belarusian doctors. We started our work in response to the growing repressions and violence against medical workers in Belarus in October 2020. Our mission is to advance human rights for medics and citizens in Belarus by publicizing accurate information, organizing medics and supporters, and demonstrating solidarity.
            </p>
            <p class="mrgn-t-20px">
                We gathered information about cases of repressions, provided financial and legal assistance, as well as assistance in finding work and places of study for dismissed doctors and expelled medical students. We were engaged in informational work, which allowed people to learn about the legal and labor arbitrariness taking place in relation to medics who were not afraid to express their civic position. Along with the financial, legal support of repressed medics, we strengthened the information campaign of informing people about the regime's misinformation and denial of COVID-pandemics.
            </p>
            <p class="mrgn-t-20px">
                On August 9, 2020, Alexander Lukashenko seized power through manipulation of the results of the Presidential Election 2020 in Belarus. Since that time, Belarusian people have been protesting manipulation of presidential elections’ results and brutality of the law enforcement agencies.
            </p>
            <p class="mrgn-t-20px">
                Thousands of Belarusians have been beaten, detained, tortured, abused, sentenced, and arbitrarily dismissed on political grounds. The authorities’ response was to violently repress anyone who challenged the official election results. Belarusian doctors and medical specialists have also widely condemned the violence and severe human rights violations. As a result, the representatives of the healthcare system of Belarus did not become an exclusion and were also put under violent pressure.
            </p>
            <p class="mrgn-t-20px">
                Herewith, it should be mentioned that in the light of human rights violations committed by the Lukashenka’s regime the current Belarusian healthcare system has faced breaches of international standards set by the law, in particular towards (I) right to health; in particular (A) tortures in detentions centers and violations of sanitary-epidemiological standards in them; (B) coronavirus disease elimination; (II) rights to work and to just and favorable conditions of work; (III) trade union rights; and (IV) right to education.
            </p>
            <p class="mrgn-t-20px">
                As it would be stated below in detail, the violations at stake have been occurring in absolute COVID dissidence of Belarusian authorities. Furthermore, the stated severe violations have been already documented by the OSCE Rapporteur under the Moscow Mechanism on Alleged Human Rights Violations related to the Presidential Elections of 9 August 2020 in Belarus, the European Parliament, the United Nations High Commissioner for Human Rights, the UN Special Rapporteur on the situation of human rights in Belarus, as well as by the international and national NGOs, including the Amnesty International, the International Committee for the Investigation of Torture in Belarus, Human rights center "Viasna" and other.
            </p>
            <p class="mrgn-t-20px">
                3
                This report was made to illustrate the situation with violations committed by the Lukashenka’s system in Belarusian healthcare system based on the discriminatory criterium, specifically on the political opinion and civic stance.
            </p>
            <p class="mrgn-t-20px">
                Most regrettably, we must additionally point out that now in Belarus there is legal default when internal national legal remedies cannot be exhausted since they are ineffective, biased and illusory.1 Consequently, at the national level the Belarusian medical personnel have no opportunity to protect or restore their rights and, even more, under the threat of being arbitrarily detained they have to flee the country.
            </p>

            <h2 class="mrgn-t-50px">
                I. RIGHT TO HEALTH
            </h2>
            <p class="mrgn-t-20px">
                The International Covenant on Economic, Social and Cultural Rights recognizes “the right of everyone to the enjoyment of the highest attainable standard of physical and mental health”. Herewith, the core components of the right to health are availability, accessibility, acceptability, and quality.
            </p>
            <p class="mrgn-t-20px">
                The List of issues prior to submission of the seventh periodic report of Belarus set by the Committee on Economic, Social and Cultural Rights determines the request to provide the Council with the data regarding issues of national health insurance and public health-care system; on laws and policies that prohibit the detention and forced medical treatment of persons; measures to reduce the harm caused by excessive consumption of alcohol; availability and accessibility of contraceptives.
            </p>
            <p class="mrgn-t-20px">
                Regarding the stated list of issues, we would like to point out that after August 2020 according to the Numbeo global healthcare index, Belarus was ranked 90th of 93 countries in 2021 while in 2020 the country was 59th. Herewith, the healthcare system of Belarus faced severe default: basic elements of the right to health were vanished by the Lukashenka’s Belarusian authorities; it has been a practice of tortures and sexual abuse in detention centers within the circumstances of authorities’ negligence to fight against coronavirus disease.
            </p>
            <p class="mrgn-t-20px">
                As the International Committee for the Investigation of Torture stated the official reaction of the Belarusian authorities to the stated severe violations of the fundamental human rights was no reaction; no criminal proceedings were opened against those who violated human rights.2,3
            </p>
            <p class="mrgn-t-20px">
                Consequently, as it would be described below, as for now the Belarusian healthcare system is deprived of its core elements accessibility, acceptability, and quality; no adherence to the right to health and its highest attainable standard exists. Herewith, it is vital to mention that such depreciation of the right to health is based on discriminatory policy depending on political opinions.
            </p>
            <p class="mrgn-t-20px">
                With this Report, we would like to separately draw your attention to the following directions of the liquidation of the right to health: (A) tortures in police stations and detention centers; violations of sanitary-epidemiological standards in them committed purposely based on political opinions of detainees; (B) ignorance of the Lukashenka’s regime of standards set for the elimination of COVID-19.
            </p>

            <h3 class="mrgn-t-50px">
                A. Tortures and violations of sanitary-epidemiological standards in police stations and detention centres
            </h3>
            <p class="mrgn-t-20px">
                The current Belarusian authorities in power set the practice of tortures and ill-treatment towards the Belarusians with the political opinion contrary to the Lukashenka’s regime. Consequently, the stated policy is based on discrimination and vanishes the right to health at all.
            </p>
            <p class="mrgn-t-20px">
                The OSCE report on Belarus documented with testimonies, photographs, and videos more than 500 cases of human rights violations, including tortures, illegal detention, excessive violence, ill-treatment of women and miners, sexual or gender-based violence, unbearable conditions in prisons.4
            </p>
            <p class="mrgn-t-20px">
                The stated report restricts that the law enforcement agencies have been continuously depriving citizens of water, food, sleep, and the possibility to obey natural functions. Moreover, the law enforcement agencies have been systematically violating the right to receive medical treatment: local medical officers within the law enforcement agencies failed to provide medical assistance to the detainees; the access of ambulance doctors to detainees were restricted as well.5
            </p>
            <p class="mrgn-t-20px">
                Moreover, the massive witnesses’ statements evidence that the detainees have been deprived of any possibility to take elementary bathing and use personal washing compositions. The wards have been not only overloaded, but the detainees with the clear symptoms of inflectional diseases have been keeping with those who are of sound health condition.6
            </p>
            <p class="mrgn-t-20px">
                Thus, Valentina Sergeevna testified: “Before the trial, in the detention centre we slept on beds without mattresses, beds with a wooden backing, in fact, we slept in jackets on wooden boards, it was cold in the cell. There were 10 people in the cell, designed for only 5 people. The girls washed themselves with bottles, there was hot water, those who didn’t have a bottle could use the dishes after breakfast until it was taken away. They didn’t give us a toothbrush or any toothpaste”.7
            </p>
            <p class="mrgn-t-20px">
                The additional attention should be paid to special treatment to the needs of women: the deprivation of basic sanitary issues. Thus, the Belarusian women were deprived of access to pads. In some cells there was video surveillance, so femine detainees could not wash here since they were merely shy. Such cases of violations of the right to health should be recognized as undermined human dignity.
            </p>
            <p class="mrgn-t-20px">
                Galina Vasilyevna testified: “I just had my period. The police department refused to help me. When I entered the detention centre, I immediately made a request to the staff. At first, they said that they would give pads the next day. But then they found it and gave out 1 pad to those in need. There were 13 people in the cell, designed for 6 people”.
            </p>
            <p class="mrgn-t-20px">
                Natasha testified: “In Zhodino there was only cold water, we heated it on batteries in plastic bottles. There were cameras with video surveillance, so we didn’t wash here, we were shy. And the floor in some of the cells was wooden, but somewhere with tiles under the sink. Therefore, all hygiene pro- cedures and changing clothes took place in the toilet”.8
            </p>
            <p class="mrgn-t-20px">
                Most recently, in December 2021, Mrs Nadezhda Hurmanchuk, the forensic doctor who had to flee the country, spoke out throughout the interview and confirmed severe bodily injuries committed by the Lukashenka’s regime which constitutes tortures, including sexual abuse.9 Moreover, being illegally detained, accused and sentenced to an administrative term of imprisonment, Mrs Hurmanchuk in her example confirmed the ongoing character of inhuman conditions set in detention centres: deprivation of food and water, refusal of healthcare delivery and set of anti-sanitary conditions.10
            </p>
            <p class="mrgn-t-20px">
                That being said, Belarus has been severely breaching the International Covenant on Economic, Social and Cultural Rights setting the abidance of the right to health. Moreover, law enforcement agencies have been violating the stated human right with the sanction of the Belarusian senior officials.
            </p>
            <h3 class="mrgn-t-50px">
                B. Ignorance of standards set for elimination of coronavirus disease
            </h3>
            <p class="mrgn-t-20px">
                Since 2020, the World Health Organization (WHO) has recognized coronavirus disease as a pandemic. In order to eliminate the spread of the coronavirus disease and to develop the health care in the stated circumstances, the WHO enacted the guidelines and regulations.
            </p>
            <p class="mrgn-t-20px">
                In April 2020, the WHO held the technical mission of the experts to Belarus. On the results of the mission, the WHO enacted the executive summary with the recommendations to Belarus.11
            </p>
            <p class="mrgn-t-20px">
                The stated above WHO recommendations to Belarus restricts the set of measures advised to take by the Belarusian authorities, in particular “postponing or cancelling all mass gatherings of people including sporting, cultural and religious events”.
            </p>
            <p class="mrgn-t-20px">
                Despite the stated recommendations. The Belarusian senior officials have decided to hold the celebration of the Easter and Victory Day Parade. No sufficient restrictions on gathering at cinemas, theatres, cafes, or other public places were introduced in Belarus.
            </p>
            <p class="mrgn-t-20px">
                Moreover, to hide the consequences of the described violations of the WHO recommendations, Belarus has submitted to the WHO the national reports on coronavirus disease with the falsified data.
            </p>
            <p class="mrgn-t-20px">
                The Belarusian Medical Solidarity Foundation has developed analyses of the data on coronavirus cases and deaths. Thus, for instance, within the October 2020 period according to official statistics there were 114 peoples who died because of coronavirus disease within the whole state, at the same time under the data provided to the Belarusian Medical Solidarity Foundation by the medical workers there were at minimum 185 cases of deaths because of coronavirus infection just in one city – Minsk.12
            </p>
            <p class="mrgn-t-20px">
                Consequently, Belarus has severely breached the WHO regulations and recommendations on coronavirus infection elimination that leads to increasing numbers of the infected and deceased persons. We respectfully ask the Committee on Economic, Social and Cultural Rights to call the Belarusian government to open the real statistics on the coronavirus and the spheres linked to it, such as death and birth rates, for the public observance and comprehensive analysis.
            </p>

            <h2 class="mrgn-t-50px">
                II. RIGHTS TO WORK AND TO JUST AND FAVOURABLE CONDITIONS
            </h2>
            <p class="mrgn-t-20px">
                Since the Belarusian medical workers condemned the violence committed by the authorities and expressed their political and civil opinion, they have become subjects to discrimination and repressive measures of Belarusian authorities. Those who condemn violence, resist oppression, and refuse to keep silence are being threatened, dismissed, detained.
            </p>
            <p class="mrgn-t-20px">
                As to figures, at least 200 healthcare workers were dismissed. It should be stressed that among them are well-known persons in professional circles, heads of the largest medical centres in Belarus, medical universities. For instance, 3 rectors of medical universities, were dismissed.
            </p>
            <p class="mrgn-t-20px">
                Alexander Mrochek: cardiologist, Doctor of Medical Sciences, professor, academician of the National Academy of Sciences of Belarus, director of the Republican Scientific Centre for Cardiology. He was one of the first who has spoken out publicly against violence against civilians in August 2020. As a result, he was illegally fired by order of Mr Dmitry Pinevich, the Minister of Health.
            </p>
            <p class="mrgn-t-20px">
                Konoplya Natalia is an oncologist, Doctor of Medical Sciences, professor, director of the Republican Scientific Centre for Pediatric Oncology, Hematology and Immunology. She refused to fire employees who participated in peaceful protests. Consequently, she was illegally dismissed by the authorities.
            </p>
            <p class="mrgn-t-20px">
                Maksim Ocheretnii is an expert in infant resuscitation used to work as a chief doctor of 3rd City Children’s Clinical Hospital, Minsk. Ocheretnii was dismissed since he publicly criticized the authorities’ ignorance of coronavirus disease, hired doctors previously fired on politically motivated reasons and within Belarusian Presidential Pre-Election Campaign he signed for Mr Babarika to be one of the candidates for presidency.13
            </p>
            <p class="mrgn-t-20px">
                It should be noted that the reasons for the stated dismissals are not related to direct professional activities but based on an open statement of their position against violence towards civilians and their refusal to put pressure on employees for participating in peaceful protests.
            </p>
            <p class="mrgn-t-20px">
                Moreover, as in case of Maksim Ocheretnii as for now the Lukashenka’s system has been dismissing medical workers on the grounds of signing for the other candidacy for presidency than Alexander Lukashenka within the Belarusian Presidential Pre-Election Campaign 2020; participation in interviews held by independent media; withdrawal from pro-government trade unions; refusal to donate to the organizations affiliated with Lukashenka’s regime.
            </p>
            <p class="mrgn-t-20px">
                Herewith, it should be noted that according to the information we have been provided with, in main hospitals, the position of deputy chief security officer has been established. As a rule, such a position is occupied by former representatives of the Committee for State Security (KGB). Consequently, preventive conversations, intimidation, threatening for criminal cases opening, taking children away are the methods used by these deputy chief security officers towards medical workers in case of any disobedience of orders.
            </p>
            <p class="mrgn-t-20px">
                In the light of the described above, we have to state that all these violations of human rights have been committed by the regime in conjunction with the usage of blacklist policy: those medical workers, who are politically motivated dismissed, are put under a work ban by the authorities.
            </p>
            <p class="mrgn-t-20px">
                Indeed, due to the stated ban on employment in Belarus set by the authorities, labor emigration of Belarusian medical specialists to neighboring countries has increased significantly. Thus, according to our data at least 80 doctors have already emigrated to Ukraine since August 2020.
            </p>
            <p class="mrgn-t-20px">
                Furthermore, more than 260 doctors and nurses were detained during peaceful protests. Some of them became victims of beatings, many were fined, sentenced to administrative arrest from 3 to 110-day periods, 10 of them are convicted for long terms. Under the Belarusian Medical Solidarity Foundation data, Belarusian doctors spent more than 3500 days in prison. Many of them fell ill with coronavirus disease while they were in prison.
            </p>
            <p class="mrgn-t-20px">
                Regarding the circumstances in which medical workers put within the situation of ignorance of coronavirus disease, widespread discriminatory policies, arbitrary dismissals and detentions, it is sufficient to state that the healthcare system faced lack of human resources and put on medical workers unbearable conditions within coronavirus pandemic circumstances.
            </p>
            <p class="mrgn-t-20px">
                Indeed, the arbitrary dismissals and detentions of medical workers led to the situation when according to the data of the Republican Bank of Vacancies of the Ministry of Labor and Social Protection of the Republic of Belarus, there are 4697 vacancies for doctors and 3002 vacancies for nurses.14
            </p>
            <p class="mrgn-t-20px">
                As a result, the Belarusian authorities simultaneously violate the right to health through failing to ensure the availability of qualified doctors and medical personnel.15
            </p>
            <p class="mrgn-t-20px">
                Furthermore, since the Belarusian authorities refused to set sufficient policies towards elimination of the coronavirus disease, the Belarusian medical workers were put under the risk to their lives. The numbers of infected persons are high; the medical workers are of lack of human resources as well as of necessary equipment, including basic one, such as, for instance, protective outerwear suits.
            </p>
            <p class="mrgn-t-20px">
                Indeed, there is no official statistics of deaths within medical personnel provided by the Ministry of Health of Belarus. However, according to statistics gathered by Ms Sviatlana Sorokina, a Belarusian doctor and Doctor of Medicine, in the beginning of the year 2021 it was already 145 cases of medical workers deaths.16 As for now, the Belarusian Medical Solidarity Foundation accounted for 193 cases of medical specialists’ deaths.
            </p>
            <p class="mrgn-t-20px">
                For the purpose to illustrate the horrible conditions of work set to the Belarusian medical workers within the pandemic, we would like to provide you with the case of Vasily Lipilin, 50-year-old ambulance paramedic from the city of Borisov (Minsk Region), who died of coronavirus disease on April 8, 2021. Lipilin's wife Natalia said:
            </p>
            <p class="quote mrgn-t-20px">
                "In the beginning, no one in town talked about the coronavirus. Everything was and is being concealed so as not to worsen the statistics. Accordingly, the medics had no personal protective equipment - only one mask was issued for a 12-hour shift, and there were no protective outerwear suits at all. The ambulances were not treated either. Vasiliy told us that after the patients with fever they could take a pregnant woman right away. [...]
                <br>
                <br>
                Vasily felt unwell after another work shift, he began to feel chills and had a fever. There was a directive that health workers cannot go on sick leave like ordinary people. If you feel sick, you have to call an ambulance, the call must be registered, it must be recorded that, for example, your temperature is over 38. Only after that you can ask for sick leave.
                <br>
                <br>
                For several days Vasiliy did not get better, he called an ambulance and the next day he opened a sick note. At the same time no one offered him a coronavirus test or an X-ray. He went to the hospital on 4 April, when his condition was already critical. [...]”
            </p>
            <p class="mrgn-t-20px">
                In the light of the above, the right of the Belarusian medical workers to work was put under the discriminatory criterium of their political opinions. Those who are not in the line of the Lukashenka’s regime have faced arbitrary dismissals and even detentions. Furthermore, since Lukashenka’s regime remains to refuse the seriousness of coronavirus disease, the medical personnel have been dying including for the reasons of absence of proper work conditions.
            </p>
            <h2 class="mrgn-t-50px">
                III. TRADE UNION RIGHTS
            </h2>
            <p class="mrgn-t-20px">
                After the rigged Presidential Elections 2020 in Belarus, there was a mass withdrawal of workers from pro-government trade unions and the medical workers were no exception. In fact, Belarusian employees have been united in independent unions and faced reprisals from the Lukashenka’s system.17
            </p>
            <p class="mrgn-t-20px">
                Thus, medical workers began to unite on the basis of the Free Trade Union,18 in particular within its branch named “Panacea”.<sup><a href="#19">19</a></sup> Thus, “Panacea” is based on primary organizations of the NN Alexandrov National Cancer Centre of Belarus; the Republican Scientific Centre for Pediatric Oncology, Hematology and Immunology; the Republican Research and Practice and Centre for Surgery, Transplantology and Hematology and the 3rd City Clinical Hospital.
            </p>
            <p class="mrgn-t-20px">
                It should be noted that since the establishment of Panacea, this free trade union has faced the following discrimination and violations of human rights of its members:
            </p>
            <ol class="mrgn-t-20px">
                <li>
                    denial of state registration of primary trade union cells.
                </li>
                <li>
                    illegal detentions of activists.
                </li>
                <li>
                    forced flee of activists from Belarus under threat of illegal criminal prosecution.
                </li>
                <li>
                    undermining of right to work: threats of dismissals, criminal and administrative prosecution.
                </li>
                <li>
                    illegal dismissal of activists.
                </li>
                <li>
                    threats and pressure on medical workers wishing to join the Free Trade Union.
                </li>
                <li>
                    transfer of personal data of Free Trade Union members by representatives of security agencies to chiefs of healthcare institutions for the purposes of targeted discrimination.
                </li>
            </ol>

            <h2 class="mrgn-t-50px">
                IV. RIGHT TO EDUCATION
            </h2>
            <p class="mrgn-t-20px">
                The article 13 (1) of the International Covenant on Economic, Social and Cultural Rights restricts Belarus to recognize the right of everyone to education and to agree that education shall be directed to the full development of the human personality and the sense of its dignity and shall strengthen the respect for human rights and fundamental freedoms. The Constitution of Belarus with article 49 implements the stated right to Belarusian law system.
            </p>
            <p class="mrgn-t-20px">
                However, as soon as the students at medical universities started their protests against violence and severe breaches of human rights committed by the Lukashenka’s regime; the regime began discriminatory policy against students.
            </p>
            <p class="mrgn-t-20px">
                More than 50 medical students were detained during peaceful protests. 21 medical students were expelled; 15 of them were later reinstated on condition that they would refuse to publicly express their civil position.
            </p>
            <p class="mrgn-t-20px">
                As an illustrative example, we would like to set the case of Stanislav Seniukovich, a student of Belarusian State Medical University. Since September 2020, Stanislav Seniukovich participated in solidarity actions against violence and severe human rights violations in Belarus.
            </p>
            <p class="mrgn-t-20px">
                Consequently, in early October 2020, he took part in the creation of the Belarusian Free trade Union unit in the Belarusian State Medical University (BSMU) – Вольны БДМУ (‘Free BSMU’). The initial purpose of the union unit was to track the detention of medical students, monitor their replacement from one temporary detention facility to another, and inform and advise their relatives. Later, when the wave of detentions died down, the union unit focused on promoting student rights.
            </p>
            <p class="mrgn-t-20px">
                Due to his activity, Stanislav Seniukovich was under constant pressure from the university authorities – he was invited for so-called “preventive discussions” to the dean’s office. Furthermore, for participation in peaceful protests, he was subjected to administrative arrest three times – for 12, 15, and another 15 days. Because of his administrative arrest, he couldn’t attend classes, which is why he was firstly reprimanded by the university’s authorities.
            </p>
            <p class="mrgn-t-20px">
                On December 10, 2020, and March 25, 2021, he was reprimanded for absence from classes “without good reason” and was also deprived of his scholarship for absence from classes. It should be stated that the reason why Stanislav Seniukovich missed all these classes is administrative arrests imposed because of his civic position.
            </p>
            <p class="mrgn-t-20px">
                Consequently, Stanislav Seniukovich was deprived of his right to education based on discriminatory factor of his active civic stance. It worth to mention that alongside with the other cases of students’ discrimination, the case of Stanislav Seniukovich was submitted to the Committee on Conventions and Recommendations of the United Nations Educational, Scientific and Cultural Organization (UNESCO).
            </p>
            <p class="mrgn-t-20px">
                Furthermore, there are cases when the Belarusian students at medical universities have been subjected to arbitrary imprisonment based on their active civic position. Thus, there is the case of Vladislav Martinovic, a former student of the Belarusian State Medical University who was imprisoned for four years on the fact of supposed administration of Telegram Channel “Белые Халаты” (White Coats), the channel representing on the basis “as is” independent information on what is going on within Belarusian medical system. Vladislav Martinovich was recognized to be a political prisoner.<sup><a href="#20">20</a></sup>
            </p>

            <hr>

            <p class="mrgn-t-10px" id="17">
                <sup>17</sup>
                Please find information by the link: <a class="txt-underline" href="https://www.amnesty.org/en/latest/news/2021/04/belarus-authorities-target-independent-trade-unions-to-root-out-dissent/" target="_blank">https://www.amnesty.org/en/latest/news/2021/04/belarus-authorities-target-independent-trade-unions-to-root-out-dissent/</a>
            </p>
            <p class="mrgn-t-10px" id="18">
                <sup>18</sup>
                Please find the official site by the link: <a class="txt-underline" href="https://profspb.by" target="_blank">https://profspb.by</a>
            </p>
            <p class="mrgn-t-10px" id="19">
                <sup>19</sup>
                Please find the official site by the link: <a class="txt-underline" href="https://profspb.by/panaceya" target="_blank">https://profspb.by/panaceya</a>
            </p>
            <p class="mrgn-t-10px" id="20">
                <sup>20</sup>
                Please find the data by the link: <a class="txt-underline" href="https://spring96.org/ru/news/105698" target="_blank">https://spring96.org/ru/news/105698</a>
            </p>
        </div>
    </div>
</div>
{{end}}
