{{define "main"}}
<div class="content pdng-30px pdng-t-140px mil-pdng-10px mil-pdng-t-100px">
    <div class="post-wrp pdng-50px pdng-t-100px mil-pdng-20px mil-pdng-t-80px mil-flex-column">
        <div class="post-nav-wrp">
            <div class="post-nav">
                <a class="header-lnk" href="#">Investigations</a>
                <span class="mrgn-l-10px mrgn-r-10px">
                        <img src="imgs/ui/naw-arrow.svg">
                    </span>
                <a class="header-lnk" href="#">Investigations Category</a>

            </div>
        </div>
        <div class="post-additions">
            <div class="section pdng-t-40px pdng-r-30px pdng-l-30px pdng-b-30px">
                <h2 class="txt-size-26px mil-txt-size-24px">
                    Files related to the topic of the publication:
                </h2>
            </div>
            <div class="section pdng-t-30px pdng-r-20px pdng-l-20px pdng-b-30px">
                <a class="file-unit flex-row flex-algn-itms-c">
                    <div class="section">
                        <img class="block" style="width:32px;" src="imgs/file.png" alt="">
                    </div>
                    <div class="section pdng-l-10px">
                        <h3>
                            Data_Triangulation.docx
                        </h3>
                        <div class="txt-color-2">
                            3.2 MB
                        </div>
                    </div>
                </a>
                <a class="file-unit flex-row flex-algn-itms-c">
                    <div class="section">
                        <img class="block" style="width:32px;" src="imgs/file.png" alt="">
                    </div>
                    <div class="section pdng-l-10px">
                        <h3>
                            Data_Triangulation.docx
                        </h3>
                        <div class="txt-color-2">
                            3.2 MB
                        </div>
                    </div>
                </a>
                <a class="file-unit flex-row flex-algn-itms-c">
                    <div class="section">
                        <img class="block" style="width:32px;" src="imgs/file.png" alt="">
                    </div>
                    <div class="section pdng-l-10px">
                        <h3>
                            Data_Triangulation.docx
                        </h3>
                        <div class="txt-color-2">
                            3.2 MB
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="post-content">
            <h1 class="txt-size-32px mil-txt-size-26px">
                Оценка количества врачей в Республике Беларусь на конец 2022 года. Сравнение официальной статистики и данных из открытых источников.
            </h1>
            <p class="mrgn-t-50px">
                Обращает на себя внимание инконсистентность данных по численности врачей, в том числе практикующих врачей, которые представляют Белстат и Минздрав за период 2018 – 2023 гг.
            </p>
            <div class="table-wrapper">
                <p class="txt-size-12px txt-italic pdng-b-15px">
                    Табл.1. Численность практикующих врачей в ежегодных изданиях Белстата 2018-2023 гг. (в том числе с пометкой «По системе Минздрава»)

                </p>
                <table>
                    <thead>
                    <tr>
                        <td>
                            Отчетный год
                        </td>
                        <td>
                            Численность практикующих врачей, тыс. человек
                        </td>
                        <td>
                            Ежегодное издание Белстата
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="2">
                            2018
                        </td>
                        <td>
                            38,6

                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2019»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/cf4/cf4915a5e6ade269f20c0bf5a332a7a3.pdf#page=21
                        </td>
                    </tr>
                    <tr>
                        <td>
                            42,5
                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2020»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/372/372c458c7e0e0196257ac51b11a0cf73.pdf#page=20
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            2019
                        </td>
                        <td>
                            38,8

                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2020»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/372/372c458c7e0e0196257ac51b11a0cf73.pdf#page=20
                        </td>
                    </tr>
                    <tr>
                        <td>
                            42,9
                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2021»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/3ea/3ea6979cf337350c836d0392847ccd3c.pdf#page=19
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            2020
                        </td>
                        <td>
                            38,8

                        </td>
                        <td>
                            Сборник «Статистический ежегодник Республики Беларусь 2021»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/d8c/yr1d8w95a75bhnumml7vbg6jqxyih369.pdf#page=108
                        </td>
                    </tr>
                    <tr>
                        <td>
                            43,059
                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2022»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/4a6/17lzwjez5wrikz92fyx8f2w0qlhm97me.pdf#page=19
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            2019
                        </td>
                        <td>
                            38,8

                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2020»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/372/372c458c7e0e0196257ac51b11a0cf73.pdf#page=20
                        </td>
                    </tr>
                    <tr>
                        <td>
                            42,9
                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2021»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/3ea/3ea6979cf337350c836d0392847ccd3c.pdf#page=19
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            2020
                        </td>
                        <td>
                            38,8
                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2021»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/3ea/3ea6979cf337350c836d0392847ccd3c.pdf#page=19
                        </td>
                    </tr>
                    <tr>
                        <td>
                            43,059
                        </td>
                        <td>
                            Сборник «Статистический ежегодник Республики Беларусь 2021»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/d8c/yr1d8w95a75bhnumml7vbg6jqxyih369.pdf#page=108
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            2021
                        </td>
                        <td>
                            41,7
                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2022»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/4a6/17lzwjez5wrikz92fyx8f2w0qlhm97me.pdf#page=19
                        </td>
                    </tr>
                    <tr>
                        <td>
                            48,1
                        </td>
                        <td>
                            Сборник «Статистический ежегодник Республики Беларусь 2022»
                            <br>
                            https://www.belstat.gov.by/upload/iblock/da7/2ofs6kwxniibet4h4icu0kdlturoipo8.pdf#page=108 ,
                            <br>
                            <br>
                            Справочник “Беларусь в цифрах 2023”
                            <br>
                            https://www.belstat.gov.by/ofitsialnaya-statistika/publications/izdania/public_compilation/index_69861/
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022
                        </td>
                        <td>
                            48,0
                        </td>
                        <td>
                            Справочник «Беларусь в цифрах 2023»
                            <br>
                            https://www.belstat.gov.by/ofitsialnaya-statistika/publications/izdania/public_compilation/index_69861/
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="mrgn-t-20px">
                В Справочнике “Беларусь в цифрах 2023” увеличено количество практикующих врачей за предыдущий период - с 2019 по 2021 гг., с пометкой “данные скорректированы с учетом изменения методологии расчета численности практикующих врачей в соответствии с международными рекомендациями”. Таким образом, за счет изменения методологии количество практикующих врачей за 2021 год изменилось с 41,7 тысяч до 48,1 тысячи. Самой методологии либо ссылки на нее в официальных источниках не представлено.
            </p>
            <div class="table-wrapper">
                <p class="txt-size-12px txt-italic pdng-b-15px">
                    Табл.2. Обеспеченность кадрами на конец 2022 года, отчеты облисполкомов и коллегии МЗ.
                </p>
                <table>
                    <thead>
                    <tr>
                        <td>

                        </td>
                        <td>
                            Брестская область
                        </td>
                        <td>
                            Витебская область ¹
                        </td>
                        <td>
                            Гомельская область ²
                        </td>
                        <td>
                            Гродненская область ³
                        </td>
                        <td>
                            Минская область ⁴
                        </td>
                        <td>
                            Могилевская область ⁵
                        </td>
                        <td>
                            г. Минск
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Всего врачей
                        </td>
                        <td>

                        </td>
                        <td>
                            5 636
                        </td>
                        <td>
                            7,800
                        </td>
                        <td>
                            5,350
                        </td>
                        <td>
                            5 834
                        </td>
                        <td>
                            4,700
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Укомплектованность врачами по занятым должностям
                        </td>
                        <td>
                            94 %
                        </td>
                        <td>
                            92,4 %
                        </td>
                        <td>
                            96,7 %
                        </td>
                        <td>
                            94,34 %
                        </td>
                        <td>
                            94,4 %
                        </td>
                        <td>
                            73,5 %
                        </td>
                        <td>
                            91,3 %

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Укомплектованность врачами по физическим лицам
                        </td>
                        <td>
                            83 %
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            78,3 %
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Коэффициент совместительства
                        </td>
                        <td>
                            1,13
                        </td>
                        <td>
                        </td>
                        <td>
                            1,2
                        </td>
                        <td>
                            1,17
                        </td>
                        <td>
                            1,35
                        </td>
                        <td>
                            1,3
                        </td>
                        <td>
                            1,18
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Обеспеченность врачами на 10 тысяч населения.
                        </td>
                        <td>

                        </td>
                        <td>
                            45,2
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Обеспеченность практикующими врачами на конец 2022г. на 10000 согласно Белстату
                            <br>
                            <br>
                            http://dataportal.belstat.gov.by/Indicators/Preview?key=152281
                        </td>
                        <td>
                            48,4
                        </td>
                        <td>
                            46,0
                        </td>
                        <td>
                            49,3
                        </td>
                        <td>
                            57,3
                        </td>
                        <td>
                            38,0
                        </td>
                        <td>
                            43,2
                        </td>
                        <td>
                            72,2

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Общая численность населения на 01.01.2023
                            <br>
                            <br>
                            (https://www.belstat.gov.by/ofitsialnaya-statistika/publications/izdania/public_bulletin/index_67469/)
                        </td>
                        <td>
                            1315405
                        </td>
                        <td>
                            1091948
                        </td>
                        <td>
                            1347469
                        </td>
                        <td>
                            998600
                        </td>
                        <td>
                            1463888
                        </td>
                        <td>
                            989703
                        </td>
                        <td>
                            1995471
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="mrgn-t-20px">
                Обращают на себя внимание также противоречия в статистических данных, озвучиваемых на заседаниях МЗ и других органов управления здравоохранением.
            </p>


            <h3 class="mrgn-t-50px">
                Цель
            </h3>
            <p class="mrgn-t-20px">
                Оценить численность врачей в Республике Беларусь и обеспеченность врачами на 10 000 населения за 2022 год.
            </p>
            <p class="mrgn-t-20px">
                Мы не беремся оценивать другие периоды, поскольку считаем эту задачу невыполнимой в условиях сложности получения статистической информации в РБ.
            </p>


            <h3 class="mrgn-t-50px">
                Материалы и методы
            </h3>
            <ol class="mrgn-t-20px">
                <li>
                    Справочники "Беларусь в цифрах" за 2010 - 2023 гг.",
                </li>
                <li>
                    данные, представленные на официальном сайте Белстата,
                </li>
                <li>
                    данные, представленные на официальном портале президента Республики Беларусь,
                </li>
                <li>
                    "Статистический ежегодник Республики Беларусь за 2015 - 2022 гг.",
                </li>
                <li>
                    отчеты коллегий ГУЗО облисполкомов за 2022 год,
                </li>
                <li>
                    Статистический бюллетень "Численность населения на 1 января 2023 г. и среднегодовая численность населения за 2022 год по Республике Беларусь в разрезе областей, районов, городов, поселков городского типа", Белстат.
                </li>
            </ol>
            <p class="mrgn-t-20px">
                На основании данных в открытых источниках отдельно проведена триангуляция данных (), в результате чего мы пришли к выводу, что у Минздрава нет унифицированного подхода к представлению данных, а положительная динамика в количестве практикующих врачей за 2021 - 2022 гг. маловероятна.
            </p>


            <h3 class="mrgn-t-50px">
                Результаты и обсуждение
            </h3>
            <h4 class="mrgn-t-30px">
                1
            </h4>
            <p class="mrgn-t-20px">
                Как видно из таблицы 1, цифры в статистических сборниках "Беларусь в цифрах" и "Статистический ежегодник" изменяются задним числом. Минздрав объясняет это изменившейся методологией подсчета, которая должна соответствовать международной. Однако мы считаем это заявление манипулятивным, поскольку международная методология не менялась с 2000 года, а на Европейском портале информации здравоохранения (Европейское региональное бюро ВОЗ) в пояснениях для показателя (число практикующих врачей на 10 000 населения) (https://gateway.euro.who.int/en/indicators/hlthres_193-practising-physicians-per-10-000/) указано следующее:
            </p>
            <p class="mrgn-t-30px txt-italic txt-bold">
                Включены:
            </p>
            <ol class="mrgn-t-20px">
                <li>
                    Врачи-интерны и врачи-стажеры (ординаторы), имеющие соответствующий диплом и оказывающие помощь пациентам под руководством более опытных врачей в рамках последипломной практики (интернатуры, ординатуры) в лечебном учреждении;
                </li>
                <li>
                    Врачи, работающие по найму и частнопрактикующие, предоставляющие услуги пациентам вне зависимости от места оказания помощи;
                </li>
                <li>
                    Иностранные врачи, обладающие соответствующей лицензией и занимающиеся активной медицинской практикой в стране.
                </li>
            </ol>
            <p class="mrgn-t-30px txt-italic txt-bold">
                Исключены:
            </p>
            <ol class="mrgn-t-20px">
                <li>
                    Студенты, еще не получившие врачебный диплом;
                </li>
                <li>
                    Стоматологи (терапевты и хирурги);
                </li>
                <li>
                    Врачи, занятые в управлении, научных исследованиях и работающие на других должностях, исключающих прямой контакт с пациентами (исключающих личное оказание помощи пациентам);
                </li>
                <li>
                    Безработные врачи и врачи, вышедшие на пенсию;
                </li>
                <li>
                    Врачи, работающие за рубежом;
                </li>
                <li>
                    Врачи, работающие на должностях, не требующих медицинского образования.
                </li>
            </ol>
            <p class="mrgn-t-20px">
                В то же время в Статистическом Ежегоднике за 2022 год
                (https://www.belstat.gov.by/upload/iblock/da7/2ofs6kwxniibet4h4icu0kdlturoipo8.pdf#page=108) с 2022 года в численность практикующих врачей включены также все врачи стоматологического профиля, а не только челюстно-лицевые хирурги, что является нарушением международной методологии, на которую изначально ссылается Минздрав.
            </p>

            <p>
                <br>
                <br>
                <br>

                картинка

                <br>
                <br>
                <br>
            </p>

            <h4 class="mrgn-t-30px">
                2
            </h4>
            <p class="mrgn-t-20px">
                На 01.01.2023 в Республике Беларусь насчитывается 118 районов; из открытых источников удалось узнать количество врачей, работающих в 45 из них. Сопоставив найденные цифры с количеством населения по данным Белстата, можно рассчитать обеспеченность врачами отдельных районов.
            </p>

            <div class="table-wrapper">
                <p class="txt-size-12px txt-italic pdng-b-15px">
                    Табл. 3 Обеспеченность врачами на 10000 населения. Сравнение официальных данных и расчет показателя на основании данных в открытых источниках:
                </p>
                <table>
                    <tbody>
                    <tr class="txt-bold">
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            Витебская обл.
                        </td>
                        <td>
                            Гомельская обл
                        </td>
                        <td>
                            Гродненская обл.
                        </td>
                        <td>
                            Минская обл.
                        </td>
                        <td>
                            Могилевская обл.
                        </td>
                        <td>
                            Брестская обл
                        </td>
                        <td>
                            г. Минск
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Кол-во врачей (отчёты ГУЗО)
                        </td>
                        <td>
                            Все районы
                        </td>
                        <td>
                            5,636
                        </td>
                        <td>
                            7,800
                        </td>
                        <td>
                            5,350
                        </td>
                        <td>
                            5,834
                        </td>
                        <td>
                            4,700

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr class="txt-bold">
                        <td>
                            Обеспеченность врачами (всего) на 10k населения (официальные данные)
                        </td>
                        <td>
                            Все районы
                        </td>
                        <td>
                            52
                        </td>
                        <td>
                            58
                        </td>
                        <td>
                            54
                        </td>
                        <td>
                            40
                        </td>
                        <td>
                            47
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Обеспеченность практикующими врачами на 10k населения (конец 2022, Белстат)
                        </td>
                        <td>
                            Все районы
                        </td>
                        <td>
                            46
                        </td>
                        <td>
                            49.3
                        </td>
                        <td>
                            57.3
                        </td>
                        <td>
                            38
                        </td>
                        <td>
                            43.2
                        </td>
                        <td>
                            48.4
                        </td>
                        <td>
                            72.2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Численность населения (01.01.2023, Белстат)
                        </td>
                        <td>
                            Все районы
                        </td>
                        <td>
                            1,091,948
                        </td>
                        <td>
                            1,347,469
                        </td>
                        <td>
                            998,600
                        </td>
                        <td>
                            1,463,888
                        </td>
                        <td>
                            989,703
                        </td>
                        <td>
                            1,315,405
                        </td>
                        <td>
                            1,995,471
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Кол-во врачей (наши данные)
                        </td>
                        <td>
                            Все районы
                        </td>
                        <td>
                            5,023
                        </td>
                        <td>
                            6,643
                        </td>
                        <td>
                            5,722
                        </td>
                        <td>
                            5,563
                        </td>
                        <td>
                            4,276
                        </td>
                        <td>
                            6,367
                        </td>
                        <td>
                            14,407
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Кол-во врачей (наши данные)
                        </td>
                        <td>
                            районы с данными
                        </td>
                        <td>
                            557
                        </td>
                        <td>
                            749
                        </td>
                        <td>
                            1,072
                        </td>
                        <td>
                            1,773
                        </td>
                        <td>
                            280
                        </td>
                        <td>
                            763
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Численность населения (Белстат)
                        </td>
                        <td>
                            районы с данными
                        </td>
                        <td>
                            212,812
                        </td>
                        <td>
                            249,202
                        </td>
                        <td>
                            262,899
                        </td>
                        <td>
                            647,505
                        </td>
                        <td>
                            106,388
                        </td>
                        <td>
                            258,527
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr class="txt-bold">
                        <td>
                            Обеспеченность врачами (всего) на 10k населения (наши данные)
                        </td>
                        <td>
                            районы с данными
                        </td>
                        <td>
                            26.2
                        </td>
                        <td>
                            30.1
                        </td>
                        <td>
                            40.8
                        </td>
                        <td>
                            27.4
                        </td>
                        <td>
                            26.3
                        </td>
                        <td>
                            29.5
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Доля населения отдельных районов от населения области
                        </td>
                        <td>
                            19%
                        </td>
                        <td>
                            18%
                        </td>
                        <td>
                            26%
                        </td>
                        <td>
                            44%
                        </td>
                        <td>
                            11%
                        </td>
                        <td>
                            20%
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Доля врачей отдельных районов от врачей области
                        </td>
                        <td>
                            10%
                        </td>
                        <td>
                            10%
                        </td>
                        <td>
                            20%
                        </td>
                        <td>
                            30%
                        </td>
                        <td>
                            6%
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Доля врачей отдельных районов от врачей области
                        </td>
                        <td>
                            11%
                        </td>
                        <td>
                            11%
                        </td>
                        <td>
                            19%
                        </td>
                        <td>
                            32%
                        </td>
                        <td>
                            7%
                        </td>
                        <td>
                            12%
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Численность населения
                        </td>
                        <td>
                            районы без данных
                        </td>
                        <td>
                            879,136
                        </td>
                        <td>
                            1,098,267
                        </td>
                        <td>
                            735,701
                        </td>
                        <td>
                            816,383
                        </td>
                        <td>
                            883,315
                        </td>
                        <td>
                            1,056,878
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Кол-во врачей
                        </td>
                        <td>
                            районы без данных
                        </td>
                        <td>
                            5,079
                        </td>
                        <td>
                            7,051
                        </td>
                        <td>
                            4,278
                        </td>
                        <td>
                            4,061
                        </td>
                        <td>
                            4,420
                        </td>
                        <td>
                            5,604
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr class="txt-bold">
                        <td>
                            Такой должна быть обеспеченность врачами на 10k населения в районах без данных, чтобы выйти на средний показатель по области, заявленный Минздравом
                        </td>
                        <td>
                            районы без данных
                        </td>
                        <td>
                            57.8
                        </td>
                        <td>
                            64.2
                        </td>
                        <td>
                            58.1
                        </td>
                        <td>
                            49.7
                        </td>
                        <td>
                            50.0
                        </td>
                        <td>
                            53.0
                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="mrgn-t-10px">
                * в открытых источниках содержится информация об общем количестве врачей, поэтому основной расчет производился по обеспеченности врачами на 10 тысяч населения, а не по обеспеченности практическими врачами.
            </p>
            <p class="mrgn-t-20px">
                Из табл. 3 видно, что показатель «Кол-во врачей на 10k населения» по районам, в которых были собраны фактические данные, значительно отклоняется от показателей по областям в целом на основе официальных данных.
            </p>
            <p class="mrgn-t-20px">
                Для расчёта вероятности использовался критерий согласия хи-квадрат, наблюдаемые показатели «Кол-во врачей на 10k населения»:
            </p>
            <ul class="mrgn-t-10px">
                <li>
                    по районам, в которых были собраны фактические данные
                </li>
                <li>
                    по районам, в которых не были собраны фактические данные (все районы минус районы, в которых были собраны фактические данные)
                </li>
            </ul>
            <p class="mrgn-t-20px">
                За теоретический показатель возьмем показатели по областям в целом на основе официальных данных.
                <br>
                <span class="txt-bold">Нулевая гипотеза:</span> наблюдаемые показатели не отличаются от теоретических.
            </p>
            <p class="mrgn-t-20px">
                <span class="txt-bold">Альтернативная гипотеза:</span> наблюдаемые показатели значимо отличаются от теоретических.
                <br>
                В рамках предположения, что распределение врачей по районам является близким к равномерному сообразно количеству населения районов, вероятность того, что Минздрав предоставил правдивые данные по Гродненской области составляет 3%, по другим областям – меньше 1%.
            </p>
            <h4 class="mrgn-t-30px">
                3
            </h4>
            <p class="mrgn-t-20px txt-bold">
                Из таблицы 2 следует:
            </p>

            <h4 class="mrgn-t-30px">
                Ограничения исследования
            </h4>
            <ol class="mrgn-t-10px">
                <li>
                    мы не учитываем врачей, трудоустроенных только в негосударственных учреждениях
                    В Беларуси частные медцентры выполняют ограниченное количество вмешательств, как правило не обладают возможностью оказания стационарной помощи, высокотехнологичных операций, поэтому их мощности значительно ниже государственных учреждений. Большинство врачей, работающих в частных медцентрах - это совместители, которые трудоустроены и в государственных учреждениях, а значит попали в нашу статистику.
                </li>
                <li>
                    мы не располагаем данными о количестве врачей в каждом районе.
                    Мы располагаем данными о количестве врачей в 45 районах, в которых проживает 1,737,333 человека (18,9%), при общем количестве районов в Республике 118 и количестве населения - 9,200,617. Во всех известных случаях количество врачей на 10000 населения значительно меньше заявленной (Белстатом) в среднем по области, при этом укомплектованность кадрами - во всех областях за исключением Могилевской, более 90%. Мы считаем маловероятным, что истинное количество врачей на 10 000 населения соответствует официальной статистике еще и потому, что укомплектованность кадрами не может превышать 100%, а значит в других больницах нет емкости по ставкам, чтобы значительно увеличить показатель.
                </li>
                <li>
                    Выборка не является случайной.
                </li>
            </ol>

            <h4 class="mrgn-t-30px">
                Выводы
            </h4>
            <ol class="mrgn-t-10px">
                <li>
                    На основании имеющихся данных, обеспеченность врачами на 10 тысяч населения составляет:
                    <ul class="mrgn-t-10px mrgn-b-20px">
                        <li>
                            В Витебской области - 26,2 против 52 по данным Минздрава,
                        </li>
                        <li>
                            Гомельской области - 30,1 против 58,
                        </li>
                        <li>
                            Гродненской области - 40,8 против 54,
                        </li>
                        <li>
                            Минской области - 27,4 против 40,
                        </li>
                        <li>
                            Могилевской области - 26,3 против 47
                        </li>
                    </ul>
                </li>
                <li>
                    Наша выборка не является случайной, поэтому истинные цифры обеспеченности могут быть выше рассчитанных нами, но крайне маловероятно достигают официально заявленных значений.
                </li>
                <li>
                    Количество практикующих врачей завышено за счет отнесения в эту категорию стоматологов всех специальностей, это следует из информации, опубликованной в “Статистическом ежегоднике Республики Беларусь” за 2022 год. Такой подход не соответствует методологии, рекомендованной ВОЗ.
                </li>
                <li>
                    В рамках предположения, что распределение врачей по районам является близким к равномерному сообразно количеству населения районов, вероятность того, что Минздрав предоставил правдивые данные по Гродненской области составляет 3%, по другим областям – меньше 1%.
                </li>
            </ol>


            <hr>
            <p class="mrgn-t-10px" id="1">
                <sup>1</sup>
                https://medvestnik.by/news/itogi-raboty-za-god-podveli-v-guzo-po-vitebskoj-oblasti
            </p>
            <p class="mrgn-t-10px" id="2">
                <sup>2</sup>
                https://gomel-region.by/ru/society-ru/view/glavnoe-statisticheskoe-upravlenie-oblasti-podgotovilo-informativnyj-obzor-ko-dnju-meditsinskix-46753-2023/
            </p>
            <p class="mrgn-t-10px" id="3">
                <sup>3</sup>
                https://mosty.grodno-region.by/ru/region-news-ru/view/zdorovje-i-zhizn-nashix-patsientov-to-radi-chego-my-rabotaem-v-grodno-chestvovali-luchshix-meditsinskix-23671-2023/
            </p>
            <p class="mrgn-t-10px" id="4">
                <sup>4</sup>
                https://medvestnik.by/news/itogi-raboty-za-2022-god-podveli-na-kollegii-guzo-minoblispolkoma
            </p>
            <p class="mrgn-t-10px" id="5">
                <sup>5</sup>
                https://mogilev-region.gov.by/category/zdravookhranenie
            </p>

        </div>
    </div>
</div>
{{end}}
