{{define "main"}}

<div class="content pdng-30px pdng-t-140px mil-pdng-10px mil-pdng-t-100px">
    <div class="post-wrp pdng-50px pdng-t-100px mil-pdng-20px mil-pdng-t-80px mil-flex-column">
        <div class="post-nav-wrp">
            <div class="post-nav">
                <a class="header-lnk" href="#">Investigations</a>
                <span class="mrgn-l-10px mrgn-r-10px">
                    <img src="/imgs/ui/naw-arrow.svg">
                </span>
                <a class="header-lnk" href="#">Investigations Category</a>
            </div>
        </div>
        {{ .Content }}
    </div>
</div>

{{ end }}
