{{define "main"}}
<div class="content pdng-30px pdng-t-140px mil-pdng-10px mil-pdng-t-100px" style="max-width:1200px;">
    <div class="size-80 pdng-30px pdng-t-20px txt-lh-1_1em mil-size-100 mil-pdng-20px">
        <h1 class="txt-size-34px txt-medium">
            <span class="txt-bolder" style="color:red;">Беларусскому обществу нужна достоверная информация о том, что происходит в здравоохранении страны.</span>
        </h1>
        <p class="txt-size-18px mrgn-t-30px">
            Без знания о заболеваемости, смертности, о побочных эффектах препаратов невозможно оценить эффективность лекарств, профилактических мер, невозможно планирование и распределение ресурсов. Медицинская статистика создает основу для подотчетности, позволяя оценивать результаты работы и сравнивать их с эталонами.
            Сегодня в здравоохранении Беларуси полный дефолт закона, государственный аппарат в лице чиновников всех уровней усиленно занимается профанацией, проводя "субботники", направляя регулярные проверки в больницы, внедряя в практику антинаучные методы, например тестирование по Фолю. За здравоохранение сегодня отвечают те же люди, которые лгали об отсутствии КОВИДа, не выдавали СИЗ медработникам, а теперь они же стараются обелить свою репутацию и сделать вид, что заботятся о здоровье нации.
        </p>
        <p class="txt-size-18px mrgn-t-30px">
            В то же время наблюдается ухудшение медицинской помощи: сокращается количество медицинского персонала, растут очереди на обследование и лечение, ощущается нехватка лекарств. К сожалению, мы все чаще остаемся один на один со своими проблемами.
        </p>
        <p class="txt-size-18px mrgn-t-30px">
            Мы знаем, что все это длится слишком долго, и неизвестно, когда закончится, но диктатуры очень недолговечны, они быстро рушатся, и в этой ситуации нельзя давать возможность прийти к власти какому-то новому диктатору, важно готовиться уже сейчас. Обществу нужно принимать решения на основе данных, а не интуиции или популистских заявлений. Мы знаем, что возможностей повлиять на ситуацию внутри страны очень мало, но они есть, и их нельзя игнорировать.
        </p>
        <p class="txt-size-18px txt-medium mrgn-t-30px">
            Что мы делаем:
        </p>
        <p class="mrgn-t-10px">
            &mdash; мы собираем конкретные, точечные факты, которые характеризуют состояние системы здравоохранения,
        </p>
        <p class="mrgn-t-10px">
            &mdash; систематизируем полученную информацию, загружаем в базу данных,
        </p>
        <p class="mrgn-t-10px">
            &mdash; анализируем, составляем отчеты,
        </p>
        <p class="mrgn-t-10px">
            &mdash; рассказываем о результатах людям внутри страны и международным организациям, работающим в сфере общественного здоровья.
        </p>
        <p class="txt-size-18px txt-medium mrgn-t-30px">
            Если вам известно что-либо о нехватке оборудования и медикаментов, о нарушении прав медработников и пациентов, репрессиях - сообщите нам:
        </p>

        <a class="button txt-size-15px mrgn-t-15px" href="https://t.me/Monitoring_Bymedsol" target="_blank">
            Отправить сообщение
            <span class="mrgn-l-5px">
                    <img src="/imgs/ui/naw-arrow.svg">
                </span>
        </a>
    </div>

    <div class="section mrgn-t-80px mrgn-b-50px">
        <h2 class="txt-size-34px pdng-30px mil-pdng-20px">
            Партнеры инициативы:
        </h2>
        <div class="flex-row flex-wrap">
            {{range $partner := .Site.Data.partners }}
            <div class="section size-20 pdng-15px mil-size-50 mil-pdng-10px">
                <a href="{{$partner.url}}"
                   target="_blank"
                   rel="noopener"
                   class="partner-wrp height-100 flex-column pdng-20px txt-algn-c border-1px border-color1">
                    <div class="partner-logo flex-row flex-algn-itms-c flex-grow-all pdng-t-15px pdng-b-20px">
                        <img class="block" src="/imgs/partners-logos/{{$partner.img}}" alt="{{$partner.name}}">
                    </div>
                    <div class="partner-name txt-size-15 txt-medium">
                        {{$partner.name}}
                    </div>
                    <div class="partner-description">
                    </div>
                </a>
            </div>
            {{end}}
        </div>
    </div>

</div>
{{end}}
